/* client/src/index.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important; /* Sets the default font for the whole app */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes up at least the full screen height */
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows the main content to push the footer down */
}